
    /*undefined skinning*/
  
    /*coupon*/
    .tg_widget_bg_2, .tg--cashout-body, .tg__cashout_popup{
        background-color: #2f2f2f;
        color: #cccccc;
    }
    .stake_item_panel{
      background-color: #414141;
      color: #cccccc;
      border-color: #2f2f2f;
    }
    .coupon_sport_name_container{
      color: #fff;
    }
    /*input inside widgetBg3*/
    .tg_widget_bg_2 .tg_input,
    .tg_widget_bg_2 .tg__dropdown_coupon{
      background-color: #414141;
      color: #cccccc;
    }
    .tg__btn-coupon{
      background-color: #cccccc;
      color: #2f2f2f;
    }
    .tg__btn-coupon:hover{
      background-color: #fff;
      color: #2f2f2f;
    }
    .tab_cupon{
      background-color: #414141;
      color: #cccccc;
    }
    .tab_cupon.tab_selected,
    .tab_cupon:hover {
      background-color: #2f2f2f;
      color: #fff;
    }
    .tg__coupon_factor,
    .tg__coupon_square{
      background-color: #2f2f2f;
      color: #fff;
    }
  
    /*input inside widgetBg*/
    .tg_widget_bg .tg_input{
      background-color: #3e3e3e;
      color: #cccccc;
    }
    /*mainBg*/
    .tg_bg,
    .tg__modal_close,
    .tg--close,
    .tg__info_panel .selector_panel {
        background-color: #161616;
        color: #fff;
    }
    .tg__live_filter_item.checked{
      background-color: #2f2f2f;
      color: #fff;
    }
    .gameContentTitle.tg_widget_header{
      background-color: #653434;
      color: #fff;
    }
    .gameContentTitle.tg_widget_header .tg-ico-arrow{
      color: #fff;
    }
  
    .tg_widget_heading{
        background-color: #3e3e3e;
        color: #fff;
    }
  
      /*sidebar*/
    .tg_sidebar_bg{
      background-color:#2f2f2f;
    }
    .tg__left_menu_item{
      background-color:#2f2f2f;
      color:#fff;
    }
    .tg__left_menu_item:hover{
      background:#343434;
    }
    .tg_sidebar_bg_2{
      background-color: #3e3e3e;
      color: #fff;
    }
    .tg_sidebar_bg_2:hover{
      background-color: #414141;
    }
    .tg_sidebar_bg_3{
      background-color: #464646;
      color: #fff;
    }
    .tg_sidebar_bg_3:hover{
      background-color: #343434;
    }
    .tg__left_menu_item.tg__left_menu_item-active,
    .tg_sidebar_bg_3.left_menu_line_active,
    .liveGameSelected .tg_sidebar_bg_3{
      background:#ffb700;
      color:#000;
    }
    .tg__left_menu_item.tg__left_menu_item-active .tg_sidebar_text_akcent,
    .liveGameSelected .tg_sidebar_bg_3 .tg_sidebar_text_akcent,
    .left_menu_line_active .tg_sidebar_text_akcent{
      color:#000;
    }
    .tg_sidebar_text_akcent,
    .tg-bg_transparent .teamName,
    .tg-bg_transparent .tg_team_name,
    .tg__open_event_img .tg-clr-akcent2.tg_score{
      color: #ffb700;
    }
    
    /*end of sidebar*****************************************/
  
    .sportHeaderPaneUpperRow,
    .sportHeaderPaneLowerRow,
    .tg__footer {
      background-color: #2f2f2f;
      color: #fff;
    }
    .tg__coupon_tabs_cont {
      padding-bottom: 5px;
    }
    .tg--issue {
      background-color: #fff;
      color: #000;
    }
    .tg__text_with_shadow{
        text-shadow:none;    
    }
    .tg__match_item{
      padding:0;
    }
    .tg__left_menu_item,
    .live_menu_item_left{
      margin-bottom: 0;
    }
    .tsModalContent,
    .tg__dropdown_content,
    .tg__modal_big,
    .tg--express_combination{
      -webkit-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
      -moz-box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.2);
    }
    .tg__banner__date{
      color: #cccccc;
    }
    
    .tg__submenu__item{
      padding: 0 8px;
      background: #2f2f2f;
      color: #fff;
      height: 36px;
      line-height: 36px;
      border-radius: 99px;
    }
    .tg__submenu__item.active,
    .tg__submenu__item:hover{
      background: linear-gradient(0deg, #542a1c 0%, #ffb700 100%);;
      color: #fff;
    }
    
    .tg_team_name,
    .tg__open_event_img .title {
      color: #cccccc;
    }
    .tab_selector{
        background-color: #161616;
        color: #cccccc;
    }
    
    .ss__step_slider .ss__ruller > div.off{
      background-color: #161616;
    }
    #line_tabs .selectorWrapper, #live_tabs_header .selectorWrapper{
        background-color: #161616;
    }
  
    .tg__banner__heading,
    .tg__one_game_team,
    .tg__open_event_img .tg_score {
      color: #fff;
    }
    
    .tab_selector.tab_selector_active,
    .tab_selector:hover{
      background: #2f2f2f;
      color: #fff;
    }
    
    .tg__step_slider,
    .tg_widget_bg,
    .tg_subheader_btn{
      background-color: #2f2f2f;
      color: #cccccc;
    }
    
    .tg_widget_row {
          border-bottom: 1px solid #161616;
    }
    .tg__match_item_stake,
    .tg--pos_comb_row,
    .tg__coupon_switches .tg__switch_cont,
    .tg--border-bot-1{
        border-color: #161616;
    }
  
    /*sidebar*/
    .tg_sidebar_bg_2.tg__step_slider{
        background-color: #3e3e3e;
        color: #fff;
    }
    .ss__step_slider .ss__slider,
    .ss__step_slider .ss__ruller > div{
        background: currentColor;
    }
  
    .tg_widget_header{
      background-color: #2f2f2f;
      color: #fff;
    }
    .tg_widget_header .tg-ico-arrow{
      color: #fff;
    }
  
    .tg_widget_sub_row,
    .tg__dropdown_value,
    .tg__input,
    .tg_input,
    .tg__input-ico,
    .posCombItem,
    .tg__slider__btn:hover,
    #calc_new .tg__btn {
          background-color: #3e3e3e;
          color: #cccccc;
    }
    .tg_input_coupon_amount{
      color:#fff;
    }
    .tg__dropdown__item{
      border-bottom:1px solid #161616;
      margin-bottom:0;
    }
    .tg__dropdown__item:hover,
    .tg__dropdown__item.activeItem{
      color:#fff;
    }
    .tg__dropdown_content{
        background-color: #3e3e3e;
          color: #cccccc;
    }
    .tg__subhead .tg__dropdown_value {
        background-color: #2f2f2f;
    }
    .tg__input,
    .tg_input,
    .tg__btn{
      transition: all 0.2s;
    }
    .tg__input:focus,
    .tg_input:focus{
      outline: 0;
      box-shadow: 0 0 0 2px undefined;
    }
    .tg__modal_wrapper{
      background-color: undefined;
    }
    .tg-ico-date{
      color: #fff;
    }
    .tg__score_box{
        background-color: #161616;
    }
    .tg__more{
      background-color: #161616;
      color: #fff;
    }
    .tg__more:hover{
        background-color: #161616;
        color: #ffb700;
    }
    .tg_widget_header_2, .tg--cashout-row,
    .tg--cashout-pagination-item,
    .tg--coupon-container .selector_panel,
    .tg__info_panel .selectorWrapper,
    .tg__match_header.tg_widget_header,
    .tg__prematch_header.tg_widget_bg,
    .lineEventHeaderWide.tg_widget_bg,
    .tg__live_list_header.tg_widget_header,
    .tg__multiview_header.tg_widget_header,
    .tg__calendar_header.tg_widget_heading,
    .tg__results_header.tg_widget_bg      
     {
        background-color: #2f2f2f;
        color: #fff;
     }
     .tg__multiview_header.tg_widget_header .tg__one_game_team{
      color: #fff;
     }
  
     .tg_widget_header_2 .tab_selector_active{
        background: #2f2f2f !important;
        color: #fff !important;
     }
    .l_od,
    .l_od_empty{
          background-color: #902727;
          color: #fff;
    }
    .l_od:hover,
    .odCnt:hover .l_od,
    .l_od.selectedOdd, .tg--cashout-item-cashout, .tg--cashout-pagination-item.active{
      background: linear-gradient(0deg, #542a1c 0%, #ffb700 100%);;
      color: #fff;
    }
    .tab_selector.tab_selector_active .tg__badge_live{
      background-color: #CB0000;
      color: #fff;
    }
    .tab_selector .tg__badge_live{
      background-color: #2f2f2f;
      color: #cccccc;
    }
    .tg_widget_tab_text,
    .tg__srv{
      color: #542a1c;
    }
    .tg__fix_btn{
      color: #fff;
    }
    .tg_widget_bg_2 .selectorWrapper .tg__fix_btn{
      color: #fff;
    }
    .tg_widget_bg_2 .tg__fix_btn{
      color: #fff;
    }
    .tg_widget_bg_2 .tg__dropdown_value{
      background-color: #414141;
      color: #fff;
    }
    .tg_widget_text_akcent{
      color: #ffb700;
    }
    .tg__fix_btn.checked{
      color: #fff;
    }
     .tg_widget_bg .tg-ico.active{
      color: #ffb700 !important;
     }
    #calc_new .tg__btn-ternary,
    .tg__btn-ternary{
      background: linear-gradient(0deg, #542a1c 0%, #ffb700 100%);;
      color: #fff;
    }
    .tg_widget_bg .tg__btn .tg-ico{
      color: #fff;
    }
    #calc_new .tg__btn-ternary:hover,
    .tg__btn-ternary:hover{
      background-color: undefined;
      color: #fff;
    }
    .digi_scroll_dragger{
      background-color: #ffb700;
    }
      
    .tg_widget_row .tg__one_game_icons, 
    .tg_widget_row .tg__home_game_time,
    .tg-ico-arrow{
      color: #cccccc;
    }
    .tg-bg_transparent{
      background-color: undefined;
    }
    .tg__switch .tg__switch_ico{
      background-color: #161616;
    }
    .tg__switch .tg__switch_ico:before{
      background-color: #2f2f2f;
    }
    .tg__switch input:checked + .tg__switch_ico:before{
      background: linear-gradient(0deg, #542a1c 0%, #ffb700 100%);;
    }
    /*calendar*/
    .ui-widgetBg-content {
      border: none;
      background: #3e3e3e;
      color: #cccccc;
    }
    .ui-widgetBg-header {
      border: none;
      background: #3e3e3e;
      color: #cccccc;
    }
    .ui-state-default, .ui-widgetBg-content .ui-state-default, .ui-widgetBg-header .ui-state-default {
      border: none;
      background: #464646;
      color: #cccccc;
    }
    .ui-state-highlight, .ui-widgetBg-content .ui-state-highlight, .ui-widgetBg-header .ui-state-highlight {
      border: none;
      background: linear-gradient(0deg, #542a1c 0%, #ffb700 100%);;
      color: #fff;
    }
    .ui-state-active, .ui-widgetBg-content .ui-state-active, .ui-widgetBg-header .ui-state-active {
      border: none;
      background-color: undefined;
      color: #fff;
    }
    /*calendar end*/
     
    /*border radius (roundness)*/
    .tab_selector_active, .tab_selector:hover{
        border-radius: 99px 99px 0 0;
    }
    .tg__btn,
    .l_od_empty,
    .l_od,
    .tg__dropdown_value,
    .tg__dropdown_content,
    .tg__input,
    .tg_input{
      border-radius: 99px;
    }
  
    @keyframes lightbox {
      from {
          color: #fff;
      }
  
      to {
          color: #542a1c
      }
    }
  
    .tg__tournament_ico_switch .tg__switch_text:before {
      content: 'ÿ';
      background: none;
      font-family: TotoFont;
      font-size: 38px;
      line-height: 16px;
      color: #542a1c
    }
  
    .tg_coin {
      background: linear-gradient(0deg, #542a1c 0%, #ffb700 100%);;
      color: #fff;
    }
    
    .tg__match_item_btn {
        background-color: #161616;
        color: #fff;
    }
    
    .overviewEventSlider .tg__btn_arrow {
      background-color: #2f2f2f;
      color: #fff;
    }
    
    .sportLeftPane .liveFilterContainer{
      background-color: #161616;
      color: #fff;
    }
  
    /* Bet history */
    .tg__modal_big {
      top: 30px;
    } 
    .tg__bet_history_row .tg-clr-akcent, 
    .tg__list_row_sub .tg-clr-akcent2,
    .tg__partial_cashout--icon,
    .tg-ico-cheque_redact.tg-clr-akcent2{
      color: #ffb700;
    }
    .tg__bet_history .tg__list_row.tg_sticky_bot {
      background-color: #161616;
    }
    
      /* book a bet skinning */
    .tg__modal_book_bet {
        top: 150px;
        background-color: #2f2f2f;
        color: #cccccc;
    }
    .tg__modal_book_bet .tg__modal_header{
        background-color: #2f2f2f;
        color: #fff;
    }
    .tg__modal_book_bet .tg__list_bg{
        background-color: #161616;
    }
    .tg__modal_book_bet .tg__list_row {
        background-color: #3e3e3e;
    }
    .tg__modal_book_bet .tg__list_row:nth-child(even) {
        background-color: #2f2f2f;
    }
    .tg__modal_book_bet .tg__border--color-akcent{
        border-color: #542a1c;
    }
    .tg__modal_book_bet .tg-clr-akcent{
        color: #542a1c;
    }
    
     /* Right banner styles */
    .tg__custom_rightBanner_line,
    .tg__custom_rightBanner_desc {
        border-top-color: #542a1c;
    }
    .tg__rightBanner_seeMore {
       background: linear-gradient(0deg, #542a1c 0%, #ffb700 100%);;
       color: #fff;
    }
  
    .component_tax_data {
      background-color: #161616;
      color: #cccccc;
    }
    .component_tax_data .tg-ico {
        color:#ffb700;
    }
    .component_tax_data_wrapper .component_tax_data_row strong {
      color: #fff;
    }
    
    .tg__show_title[data-title]:hover:after {
      background-color: #161616;
      color: #fff;
    }
  
    .tg_badge_transparent{
      background-color:rgba(0,0,0,0.5);
      color:#fff;
    }
  
    .tg__coupon_switches {
      border-bottom: 1px solid #161616;
    }
  
  
  
    /*paper view skinning*/
  
      /*paper view headers bg*/
      .paperView .es__home_bet_header,
      .paperView .es__live_page .es__text_heading,
      .paperView .es__event_detail_header {
          background: #653434;
          color: #fff;
      }
  
      /*paper view widgetBg bg*/
      .paperView .es__home_bet_item,
      .paperView .es--Live_page_collapse_panel,
      .paperView .es__live_sub_item_event,
      .paperView .es__home_one_game,
      .paperView .es__home_bet_show_hide,
      .paperView .es__event_row,
      .paperView .es--live_ingame_odds_cont,
      .paperView .es__fixed_panel,
      .paperView .es__event_detail_item,
      .paperView .es__paper_odds,
      .paperView .es__home_bet_item .es__event_row,
      .paperView .es__home_bet_item .es__home_tab,
      .paperView .es__home_bet_item .tab_selector,
      .paperView .live_tabs_header .selectorWrapper {
          background: #2f2f2f;
          color: #fff;
      }
  
  
      .paperView .es__home_bet_item .tab_selector.tab_selector_active,
      .paperView .es__home_bet_item .tab_selector:hover,
      .paperView .es__home_bet_item .es__event_subhead,
      .paperView .es__paper_name,
      .paperView .es__filter_container {
          background: #3e3e3e;
          color: #fff;
      }
  
      .paperView .es__filter_container .tg__dropdown_value{
        background: #343434;
        color: #fff;
      }
  
      .paperView .es__event_subhead,
      .paperView .es--live_tabular_sub_row {
          background: #3e3e3e;
          color: #cccccc;
      }
  
      .paperView .es__home_one_game_header{
         background: #3e3e3e;
         color: #fff;
      }
  
      /*paper view headers bg*/
      .paperView .es__expanded_heading,
      .paperView .es__live_expanded_row,
      .paperView .es__expanded_info_left,
      .paperView .es__paper_name,
      .paperView .es__header_with_border,
      .paperView .es__event_sub_row {
          background: #464646;
          color: #cccccc;
      }
  
      /*paper view border bg*/
      .paperView .stakeContainer + .stakeContainer,
      .paperView .es__live_expanded_row + .es__live_expanded_row,
      .paperView .EU-li-cont + .EU-li-cont,
      .paperView .es__paper_name,
      .paperView .es__live_page .es__expanded_info_cont,
      .paperView .es__header_with_border,
      .paperView .es__home_row + .es__home_row,
      .paperView .es--live_sport_row_cont,
      .paperView .es__filter_container,
      .paperView .paper_home_games_wrapper > div > div + div {
          border-color: #161616;
      }
  
      /*paper view odds*/
      .paperView .component_odd_empty,
      .paperView .component_odd,
      .paperView .component_odd.selectedOdd{
          background-color: #902727;
          color: #fff;
      }
      .paperView .component_odd:hover,
      .paperView .component_odd_empty:hover,
      .paperView .EUodds:hover,
      .paperView .EUodds.selectedOdd,
      .paperView .component_odd.selectedOdd {
          background: linear-gradient(0deg, #542a1c 0%, #ffb700 100%);;
          color: #fff;
      }
  
      .paperView .es__show_more_btn .tg__chb_text {
        background: linear-gradient(0deg, #542a1c 0%, #ffb700 100%);;
        color: #fff;
        height: 36px;
        line-height: 36px;
        border-radius: 99px;
      }
      .paperView .es__show_more_btn .tg__chb_text:hover {
        background: undefined;
        color: #fff;
      }
  
  
      /*temp*/
      .sportHeaderPaneUpperRow,
      .sportHeaderPaneLowerRow,
      .tg__footer  {
        display:none;
      }
  
  
  
  
  