<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mobile view</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/rulesAssets/rules.css">

    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <%- nav %>
    <div class="layout">
        <header>
            <div class="displayFlex alCen spcBtw">
                <a id="A1" href="//totogaming.am" class="logo" target="_top"></a>
                <div class="languages">
                    <div id="selLang">
                        <a id="hy" class="displayFlex alCen langRow selected">
                            <span class="ns lang hy"></span>
                            <span style="width: calc((100%) - 21px);" class="ns txt">Armenian</span>
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div id="main" class="displayFlex">
            <div id="menuContainer" class="tg_native_styled_scroll">
                <ul class="expandable-list">
                    <% new Array(10).fill().forEach(a => { %>
                    <li class="mI-button menuleft subMenu ">
                        <a class="menuleftа displayFlex">
                            <span class="name">item</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <% }) %>
                </ul>

            </div>

            <div class="main-col">
                <h1 class="content-head">About us</h1>
                <div id="content" class="tg_native_styled_scroll">
                    <div id="contentText" class="inner-content">
                        <% new Array(1).fill().forEach(a => { %>
                        <p style="font-size: 16px; line-height: 17px; margin-bottom: 10px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas erat imperdiet sed euismod nisi porta lorem mollis aliquam. Enim nec dui nunc mattis. Posuere ac ut consequat semper viverra nam libero justo. Aenean sed adipiscing diam donec adipiscing tristique risus nec feugiat. Vulputate dignissim suspendisse in est. Massa ultricies mi quis hendrerit. Dui vivamus arcu felis bibendum ut tristique. Imperdiet sed euismod nisi porta lorem mollis aliquam ut porttitor. Ac turpis egestas maecenas pharetra convallis posuere morbi. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Auctor urna nunc id cursus. Nulla aliquet porttitor lacus luctus accumsan. Elit pellentesque habitant morbi tristique senectus et netus. Nascetur ridiculus mus mauris vitae. Mattis aliquam faucibus purus in. Turpis massa tincidunt dui ut ornare lectus. Mi bibendum neque egestas congue quisque egestas diam in. Mauris cursus mattis molestie a.

At risus viverra adipiscing at. Metus dictum at tempor commodo ullamcorper. Sit amet porttitor eget dolor morbi non arcu risus quis. Quam elementum pulvinar etiam non quam lacus. Nec ultrices dui sapien eget mi proin sed. Quis imperdiet massa tincidunt nunc pulvinar sapien et ligula ullamcorper. Facilisis volutpat est velit egestas. Ut tortor pretium viverra suspendisse potenti nullam ac tortor vitae. Iaculis at erat pellentesque adipiscing. In dictum non consectetur a. Viverra nam libero justo laoreet sit amet cursus. Malesuada fames ac turpis egestas integer eget aliquet. Euismod in pellentesque massa placerat duis ultricies lacus. Id volutpat lacus laoreet non curabitur gravida arcu. Ultrices mi tempus imperdiet nulla. Arcu vitae elementum curabitur vitae nunc sed. Risus sed vulputate odio ut enim blandit volutpat maecenas volutpat. Aliquam nulla facilisi cras fermentum odio.

Dignissim suspendisse in est ante in nibh mauris cursus. Id aliquet risus feugiat in ante metus dictum at tempor. Aliquet bibendum enim facilisis gravida neque convallis a cras semper. Nam at lectus urna duis convallis convallis tellus id. At augue eget arcu dictum varius. Fringilla est ullamcorper eget nulla facilisi etiam. Semper viverra nam libero justo laoreet. Neque gravida in fermentum et sollicitudin ac orci. At ultrices mi tempus imperdiet. Metus vulputate eu scelerisque felis imperdiet proin. Laoreet sit amet cursus sit amet dictum sit amet. Ac turpis egestas maecenas pharetra convallis posuere morbi leo. Ut porttitor leo a diam sollicitudin tempor id eu nisl. Justo laoreet sit amet cursus sit. Sed cras ornare arcu dui vivamus arcu. Magna eget est lorem ipsum dolor sit amet. Augue interdum velit euismod in pellentesque massa placerat duis ultricies. Quis commodo odio aenean sed.

Pharetra convallis posuere morbi leo urna molestie. Mauris pellentesque pulvinar pellentesque habitant morbi tristique. Consectetur a erat nam at. Nam aliquam sem et tortor consequat. Metus dictum at tempor commodo ullamcorper a lacus vestibulum sed. Maecenas sed enim ut sem viverra aliquet eget. Ultricies lacus sed turpis tincidunt id aliquet risus. Feugiat vivamus at augue eget arcu dictum varius. Ullamcorper velit sed ullamcorper morbi. Cursus in hac habitasse platea dictumst quisque. Suspendisse sed nisi lacus sed. Sit amet consectetur adipiscing elit duis tristique. Volutpat est velit egestas dui id ornare arcu odio ut. Et malesuada fames ac turpis. Viverra ipsum nunc aliquet bibendum enim. Sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. At imperdiet dui accumsan sit. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet. Nec dui nunc mattis enim ut.

Dictum at tempor commodo ullamcorper a lacus. Cursus vitae congue mauris rhoncus aenean vel elit scelerisque mauris. Feugiat in ante metus dictum at tempor. Neque sodales ut etiam sit. Aliquam sem et tortor consequat id porta nibh venenatis. Venenatis urna cursus eget nunc scelerisque. Odio eu feugiat pretium nibh ipsum. Amet risus nullam eget felis eget nunc lobortis. Tortor at auctor urna nunc id cursus. Molestie nunc non blandit massa enim nec dui nunc. Convallis tellus id interdum velit laoreet id donec ultrices. Neque laoreet suspendisse interdum consectetur. Lorem donec massa sapien faucibus et. Turpis egestas maecenas pharetra convallis posuere morbi leo. Turpis tincidunt id aliquet risus feugiat in.
                        </p>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>






<script src="/tinyColor.js"></script>
<script src="/cuid.js"></script>
<script src="/neuron.js"></script>
<script src="/cssTemplates/sportRules.js"></script>
<script src="/skinner.js"></script>


</html>