<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mobile view</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/mobileAssets/Css/app.css">

    <link rel="stylesheet" href="/style.css">


</head>

<body>
    <%- nav %>
    <div id="root" class="dm--cont" style="width: 500px;">
        <div id="dm-main-container" class="sc-bdnylx eUJiym dm--cont dm__wrapper dm--sport-platform">
            <div class="dm__wrapper__inner dm-h-100 dm-z-index-1">
                <a>
                    <div class="dm__betslip_btn dm-display-flex dm--align-center dm--justify-end dm__betslip_btn-show">
                        <div class="dm__betslip_btn__count">5</div>
                        <div class="dm__betslip_btn__odds dm-display-flex dm--flex-col dm__row_right_side">
                            <div class="dm-display-flex dm--flex-wrap dm--justify-end" style="max-width: 50px;">
                                <span class="dm__betslip_btn__odds__text">Total</span>
                                <span class="dm__betslip_btn__odds__text">odds</span>
                            </div>
                            <span class="dm__total_odds">1616.99</span>
                        </div>
                    </div>
                </a>

                <div>
                    <div>
                        <div class="digi_m_home">
                            <!-- slider place -->

                            <!-- banner place -->
                            <div class="dm__collapse ">
                                <div class="dm__collapse__home dm-display-flex dm--align-center dm--expanded">
                                    <i class="dm__font dm__font_arrow dm__ico_arrow "></i>
                                    <div class="dm__collapse_home__name ">Live Betting</div>
                                </div>
                                <div class="dm__collapse__content dm--show">
                                    <div class="dm__homepage__sport_section">
                                        <a>
                                            <div
                                                class="dm__homepage__sport_section__item dm-display-flex dm--align-center dm--bg ">
                                                <i class="sc-jSFkmK eYevdL"></i>
                                                <div class="dm__homepage__sport_section__item__name">Football</div>
                                            </div>
                                        </a>
                                        <div>
                                            <div
                                                class="dm__homepage__sport_section__market_head dm-display-flex dm--align-center">
                                                <div class="dm__game_info">
                                                    <div
                                                        class="dm--input-select_wrapper-custom dm--input-select_market-wrapper-custom">
                                                        <select class="dm--input-select dm--market-select dm-w-100 ">
                                                            <option value="1">Result</option>
                                                        </select>
                                                        <div
                                                            class="dm--market-select-value dm--input-select-value dm--arrow-deco dm-px-16 dm--oe ">
                                                            Result</div>
                                                    </div>
                                                </div>
                                                <div class="dm__game_odds ">
                                                    <div class="dm__market_names">Win1</div>
                                                    <div class="dm__market_names">Draw</div>
                                                    <div class="dm__market_names">Win2</div>
                                                </div>
                                            </div>


                                            <div class="dm__homepage__sport_singlegames_cont">
                                                <div class="dm__homepage__sport_tournament_heading dm-px-16 dm-oe">
                                                    Women. UEFA Champions League</div>
                                            </div>
                                            <% new Array(4).fill().forEach(a => { %>
                                            <div class="dm__single_game_cont">
                                                <div style="transition: transform 0.2s ease 0s;">
                                                    <div
                                                        class="dm__single_game dm--shadow-light dm-display-flex dm--align-center">
                                                        <a class="dm__single_game__link dm__game_info">
                                                            <div
                                                                class="dm-display-flex dm__single_game__row dm__single_game__row--prematch dm-display-flex">
                                                                <div
                                                                    class="dm-display-flex dm--flex-col dm--take-av-width">
                                                                    <span class="dm__teamname dm--oe">Իտալիա(Մ21)</span>
                                                                    <span class="dm__teamname dm--oe">Շվեդիա(Մ21)</span>
                                                                </div>
                                                                <i class="dm__h2h dm__font_stat2 dm__font dm__ico"></i>
                                                            </div>
                                                            <div
                                                                class="dm-display-flex dm--align-center dm__single_game__row dm__single_game__row__footer">
                                                                <span class="dm__time dm--oe">18-11 20:30</span>
                                                                <div class="dm__more">+916</div>
                                                            </div>
                                                        </a>

                                                        <div class="dm__game_odds ">
                                                            <% new Array(3).fill().forEach((a, i) => { %>
                                                            <div class="sc-hTRkEk kcvRvI">
                                                                <span class="sc-jgPznn hANeuZ"></span>
                                                                <span class="sc-gSYCTC gAwWHG">2.85</span>
                                                            </div>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>

                                            <div class="dm__single_game_cont">
                                                <div style="transition: transform 0.2s ease 0s;">
                                                    <div
                                                        class="dm__single_game dm--shadow-light dm-display-flex dm--align-center">
                                                        <a class="dm__single_game__link dm__game_info">
                                                            <div
                                                                class="dm-display-flex dm__single_game__row dm__single_game__row--prematch dm-display-flex">
                                                                <div
                                                                    class="dm-display-flex dm--flex-col dm--take-av-width">
                                                                    <span class="dm__teamname dm--oe">Իտալիա(Մ21)</span>
                                                                    <span class="dm__teamname dm--oe">Շվեդիա(Մ21)</span>
                                                                </div>
                                                                <i class="dm__h2h dm__font_stat2 dm__font dm__ico"></i>
                                                            </div>
                                                            <div
                                                                class="dm-display-flex dm--align-center dm__single_game__row dm__single_game__row__footer">
                                                                <span class="dm__time dm--oe">18-11 20:30</span>
                                                                <div class="dm__more">+916</div>
                                                            </div>
                                                        </a>

                                                        <div class="dm__game_odds ">
                                                            <div class="dm__game_odds ">
                                                                <div class="sc-hTRkEk kcvRvI eLozvU">
                                                                    <span class="sc-jgPznn eLozvU"></span>
                                                                    <span class="sc-gSYCTC gAwWHG">2.85</span>
                                                                </div>
                                                                <div class="sc-hTRkEk kcvRvI">
                                                                    <span class="sc-jgPznn hANeuZ"></span>
                                                                    <span class="sc-gSYCTC gAwWHG">2.85</span>
                                                                </div>
                                                                <div class="sc-hTRkEk kcvRvI eLozvU">
                                                                    <span class="sc-jgPznn hANeuZ"></span>
                                                                    <span class="sc-gSYCTC gAwWHG">2.85</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>





                                        </div>


                                    </div>
                                </div>

                                <div class="dm__collapse__home dm-display-flex dm--align-center dm--expanded">
                                    <i class="dm__font dm__font_arrow dm__ico_arrow "></i>
                                    <div class="dm__collapse_home__name ">Top Games</div>
                                </div>
                                <div class="dm__collapse__content dm--show">
                                    <div class="dm__homepage__sport_section">
                                        <a>
                                            <div
                                                class="dm__homepage__sport_section__item dm-display-flex dm--align-center dm--bg ">
                                                <i class="sc-jSFkmK eYevdL"></i>
                                                <div class="dm__homepage__sport_section__item__name">Football</div>
                                            </div>
                                        </a>
                                        <div>
                                            <div
                                                class="dm__homepage__sport_section__market_head dm-display-flex dm--align-center">
                                                <div class="dm__game_info">
                                                    <div
                                                        class="dm--input-select_wrapper-custom dm--input-select_market-wrapper-custom">
                                                        <select class="dm--input-select dm--market-select dm-w-100 ">
                                                            <option value="1">Result</option>
                                                        </select>
                                                        <div
                                                            class="dm--market-select-value dm--input-select-value dm--arrow-deco dm-px-16 dm--oe ">
                                                            Result</div>
                                                    </div>
                                                </div>
                                                <div class="dm__game_odds ">
                                                    <div class="dm__market_names">Win1</div>
                                                    <div class="dm__market_names">Draw</div>
                                                    <div class="dm__market_names">Win2</div>
                                                </div>
                                            </div>


                                            <div class="dm__homepage__sport_singlegames_cont">
                                                <div class="dm__homepage__sport_tournament_heading dm-px-16 dm-oe">
                                                    Women. UEFA Champions League</div>
                                            </div>
                                            <% new Array(2).fill().forEach(a => { %>
                                            <div class="dm__single_game_cont">
                                                <div style="transition: transform 0.2s ease 0s;">
                                                    <div
                                                        class="dm__single_game dm--shadow-light dm-display-flex dm--align-center">
                                                        <a class="dm__single_game__link dm__game_info">
                                                            <div
                                                                class="dm-display-flex dm__single_game__row dm__single_game__row--prematch dm-display-flex">
                                                                <div
                                                                    class="dm-display-flex dm--flex-col dm--take-av-width">
                                                                    <span class="dm__teamname dm--oe">Իտալիա(Մ21)</span>
                                                                    <span class="dm__teamname dm--oe">Շվեդիա(Մ21)</span>
                                                                </div>
                                                                <i class="dm__h2h dm__font_stat2 dm__font dm__ico"></i>
                                                            </div>
                                                            <div
                                                                class="dm-display-flex dm--align-center dm__single_game__row dm__single_game__row__footer">
                                                                <span class="dm__time dm--oe">18-11 20:30</span>
                                                                <div class="dm__more">+916</div>
                                                            </div>
                                                        </a>

                                                        <div class="dm__game_odds ">
                                                            <% new Array(3).fill().forEach((a, i) => { %>
                                                            <div class="sc-hTRkEk kcvRvI">
                                                                <span class="sc-jgPznn hANeuZ"></span>
                                                                <span class="sc-gSYCTC gAwWHG">2.85</span>
                                                            </div>
                                                            <% }) %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>

                                            


                                        </div>


                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

</body>






<script src="/tinyColor.js"></script>
<script src="/cuid.js"></script>
<script src="/neuron.js"></script>
<script src="/cssTemplates/sportMobile.js"></script>
<script src="/skinner.js"></script>


</html>